body {
    background-color: black;
    background-image: url("../images/snake_background_2.jpg");
    background-size: 1024px 768px;
    background-repeat: no-repeat;
    background-position: left top;
    background-repeat: no-repeat;;
}

p {
  font-family: 'babyui';
  color: black;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px
}

.lineBreaks {
  width: 340px;
  margin-left: -20px
}

label {
  font-family: 'babyui';
  color: black;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px
}
.nav-tabs li {
  font-family: Rixon;
}
.nav>li>a  {
  color: white;
  padding: 14px 5px 0px 5px;
  font-size: 16px;
  border-radius: 0px
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: black;
  border: 3px solid white;
  border-bottom-color: red
}
.navbar-header {
  margin-top: 15px;
  margin-bottom: -5px;
  margin-left: 20px;
}
.navbar-header h1 {
  color: red;
  display: inline;
  font-family: 'BLACKCAPS-Regular'
}
.navbar-default {
  border-bottom: 3px solid white
}

.navbar-header h1:first-child {
  color: white
}


.form-inline .form-control {
  width: 50px;
  text-align: center;
}
#xaxisInputMulti, #xaxisInputCustom {
  margin-right: 50px
}
#wallThicknessInput {
  margin-left: 88px
}
#foodValueInput {
  margin-left: 124px
}
#initialC {
  margin-left: 86px
}
#moveInterval {
  margin-left: 160px
}




.navbar {
  background-color: black;
}

td {
  border: 3px solid black;
}

#main {
  margin-left: 340px;
}
.navbar {
  min-height:50px;
}
.sidebar {
  width: 342px;
  border-right: 3px solid white;
  border-left: 3px solid white
}


.nav-tabs {
  border: none;
  min-height:50px;
}
.nav-tabs a{
  min-height: 50px;
}


.sidebar {
  background-color: red;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color:red;
  box-shadow: 0 3px 0 red;
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 0px
}

.playerList input {
  margin-bottom: 20px
}

#scoreBoardCustom,#nextPlayerButton, #scoreBoardMulti, #resetButtonMulti, #nextLevelArcade, #resetButtonArcade, #scoreBoardArcade, #scoreBoardOriginal {
  display: none;
}



.btn-default {
  color: white;
  background-color: black;
  border: none;
  font-family: 'Quango';

}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  background-color: white
}

#scoreBoardOriginal, #scoreBoardMulti, #scoreBoardArcade, #scoreBoardCustom {
  font-family:'babyui';
  color: black;
}
#scoreBoardOriginal, #scoreBoardMulti, #scoreBoardArcade, #scoreBoardCustom span{
  font-family:'babyui';
  font-size: 24px;
  color: black
}
#resetButtonOriginal, #resetButtonMulti, #resetButtonArcade, #resetButtonCustom,#nextLevelArcade, #nextPlayerButton {
  margin-top: 20px
}
#startButtonOriginal, #startButtonArcade, #startButtonMulti, #startButtonCustom {
  margin-top: 25px;
  margin-left: 120px
}
#buttonGroupOriginal {
  margin-top: 10px
}

#resetButtonOriginal, #resetButtonArcade, #resetButtonMulti, #resetButtonCustom {
  margin-left: 120px
}

#scoreBoardMulti ul {
  display:inline-block;
  list-style-type: none;
}

#scoreBoardArcade ul {
  display:inline-block;
  list-style-type: none;
  font-size: 20px;
  margin-top: 20px
}

#levelDisplay, #gridSize {
  text-align: center;
  font-size: 48px;
  color: white
}

#whosTurn {
  font-size: 30px;
  color: white;
  text-align: center;
}


@font-face {
  font-family: "Gtek";
  src: url('../fonts/Gtek.ttf') format('truetype');
}

@font-face {
  font-family: "BLACKCAPS-Regular";
  src: url('../fonts/BLACKCAPS-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Argentina";
  src: url('../fonts/Argentina.ttf') format('truetype');
}

@font-face {
  font-family: "Rixon";
  src: url('../fonts/Rixon.ttf') format('truetype');
}

@font-face {
  font-family: "babyui";
  src: url('../fonts/babyui2.ttf') format('truetype');
}

@font-face {
  font-family: "Quango";
  src: url('../fonts/Quango.otf') format('opentype');
}
